.navbar {
  background-color: rgba(0, 45, 86, 1); /* 외대상직 색상, rgb 값 사용 */
  height: 50px; /* nav바의 높이 */
  padding: 10px; /* 박스 내부 간격 */
  align-content: center; /* 글자 세로 중앙 정렬 */
}

.navbar-title {
  color: white; /* 글자 색은 하얀색으로 */
  font-size: 20px; /* 글자 크기는 20픽셀로 */
}

.chuga {
  background-color: #d4f6fc;
  padding: 6px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-top: 5px;
}

input {
  padding: 5px;
  font-size: 15px;
  margin-right: 8px;
  margin-top: 5px;
}